@model List<Elite_Admin.Models.BlogPostModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

@*<link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>*@
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>

 <style>
     .blogs-header {
         /*        background-image: url('../../content/websiteassets/assets/img/blogs-img/blog-header-img.png');*/
         background-size: 100% 100%;
         background-color: #05a49429;
         padding: 60px 0;
         text-align: center;
         color: #fff;
     }

        .blogs-header h1 {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .blogs-header p {
            font-size: 14px;
            margin-bottom: 30px;
        }

    .subscribe-input {
        max-width: 500px;
        margin: 0 auto;
    }

    .cutoff-text {
        text-align: -webkit-auto;
        --line-height: 1.2em; /* Adjust the line height according to your font-size */
        --max-lines: 3; /* Display only 3 lines */
        max-height: calc(var(--max-lines) * var(--line-height));
        overflow: hidden;
        position: relative;
        transition: max-height 0.5s ease;
        height: 320px;
        line-height: var(--line-height);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

        .cutoff-text.expanded {
            -webkit-line-clamp: unset;
            max-height: none;
        }




    .subscribe-footer {
        background-color: #007bff;
        padding: 40px 0;
        text-align: center;
        color: #fff;
        margin-top: 40px;
    }

        .subscribe-footer h3 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

     .subscribe-footer {
         width: 70%;
         margin: auto auto 50px auto;
         height: 324px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         border-radius: 30px;
         
         background-image: url('../../Content/websiteassets/assets/img/blogs-img/Blurry-Content-Image.png');
         background-size: 100% 100%;
         background-position: center;
     }

    .carousel-item img {
        max-width: 100%;
        width: 100%;
        height: 225px;
        border-radius: 10px;
    }

    .carousel-item .blog-content {
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
    }

        .carousel-item .blog-content h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        .carousel-item .blog-content p {
            font-size: 15px;
            color: #666;
        }

    .time-hour {
        display: flex;
        justify-content: space-between;
    }

    .cart-hd {
        --line-height: 1.3em; /* Adjust the line height according to your font-size */
        --max-lines: 1; /* Display only 3 lines */
        max-height: calc(var(--max-lines) * var(--line-height));
        overflow: hidden;
        position: relative;
        transition: max-height 0.5s ease;
        height: 60px;
        line-height: var(--line-height);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

        font-size: 18px !important;
        font-weight: 600 !important;
        color: black !important;
        line-height: 1.4;
        /*        height: 75px;
*/ text-align: -webkit-auto;
        margin-bottom: 7px;
    }

    .cart-main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .sm-img {
        width: 40px;
        height: 40px;
/*        background-color: #80D4FF;
*/        border-radius: 50%;
    }

    .cart-wriiten {
        margin-bottom: 2px;
        font-size: 12px !important;
        font-weight: 500;
        color: #AAAAAA !important;
    }

    .cart-nadeem {
        margin-bottom: 0;
        font-size: 14px !important;
        font-weight: 600 !important;
        color: black !important;
    }

    a.btn.btn-primary.mb-3.mr-1 {
        background-color: transparent !important;
        border-radius: 50%;
        border: 1px solid black !important;
        color: black;
        width: 50px;
        height: 50px;
    }

    a.btn.btn-primary.mb-3 {
        background-color: transparent !important;
        border-radius: 50%;
        border: 1px solid black !important;
        color: black;
        width: 50px;
        height: 50px;
    }

    input.form-control {
        padding: 10px;
        border-radius: 10px;
    }

    @@media (max-width:6001px) {
        .subscribe-input {
            width: 90%;
            margin: 0 auto;
        }

        .subscribe-footer {
            width: 80%;
            height: 250px;
        }
     .rectange{

     }
    }

    .blogs-header p {
        text-align: center;
    }

    .text-right {
        text-align: right !important;
    }

    a.btn.btn-primary.mb-3.mr-1 {
        border: 1px solid #80D4FF !important;
        color: #80D4FF;
    }

    a.btn.btn-primary.mb-3 {
        border: 1px solid #80D4FF !important;
        color: #80D4FF;
    }

    .btn-light {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        font-weight: 400;
    }

        .btn-light:hover {
            color: #212529;
            background-color: #f8f9fa;
            border-color: #f8f9fa;
            font-weight: 400;
        }

    .subscribe-footer h3 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: white;
    }

    .blogs-header h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: black;
    }
     .carousel-control-prev, .carousel-control-next {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: 55px;
         height: 55px !important;
         background-color: rgb(255 255 255 / 50%);
         color: white;
         border: none;
         font-size: 1.5rem;
         z-index: 1;
         border-radius: 50%;
     }

    .carousel-control-prev {
        left: -60px;
    }

    .carousel-control-next {
        right: -60px;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-image: none;
        margin: 5px 5px 15px 1px;
    }

        .carousel-control-prev-icon:before {
            content: '\f053';
            font-family: FontAwesome;
            color: white;
        }

        .carousel-control-next-icon:before {
            content: '\f054'; /* FontAwesome icon for right arrow */
            font-family: FontAwesome;
            color: white;
        }
     a.carousel-control-prev {
         height: 50px;
         border-radius: 50%;
         background-color: #ff7300;
     }
     a.carousel-control-next {
         height: 50px;
         border-radius: 50%;
         background-color: #ff7300;
     }
     .tags {
         padding: 10px;
         border-radius: 10px;
         margin: 2px;
         border: none;
         background-color: lightgray;
     }

</style>



<!-- Header Section -->
 <div class="blogs-header text-center">
     <h1>Blogs</h1>
     @*<p>Welcome to our journal. Here you can find the latest <br /> company news and business articles.</p>
        <p>Subscribe to learn about new product features, the latest <br /> in technology, solutions, and updates.</p>*@
     <form id="subscribe-newsletter">
         <div class="input-group subscribe-input">

             <input type="email" class="form-control" name="Email" placeholder="Enter Your Email" required>
             <input type="hidden" name="captchakey" id="captchakey" class="captchakey" />

             <button type="submit" class="btn btn-light">Subscribe</button>
  
 </div>
</form>


</div>


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Latest Blogs </h3>
            </div>
            <div class="col-6 text-right">
              
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Count(); i += 3)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 3 && j < Model.Count(); j++)
                                    {
                                        <div class="col-md-4 col-sm-12">
                                            <a href="~/blog/@Model[j].Slug">
                                                <img src="~/raidetimefiles/blogfiles/@Model[j].CoverImage" alt="Blog Image" class="rectange" style="border: 1px solid lightgrey;">
                                                <div class="blog-content">
                                                    <div class="time-hour">
                                                        <p>@Model[j].Blog_readTime Min Read</p>
                                                        <p>@(Model[j].PublishingDate?.ToString("yyyy-MMM-dd"))</p>
                                                    </div>
                                                    <p class="cart-hd">@Model[j].Title</p>
                                                    <p class="cutoff-text">@Model[j].MetaDescription</p>
                                                    <div class="cart-main">
                                                        <div class="sm-img">
                                                            <img src="~/raidetimefiles/ProfileImages/@Model[j].Profileimage" class="rounded-circle user-photo" alt="Profile pic" style="width: 50px; height: 50px;  max-width: 50px !important;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <p class="cart-wriiten">Written By</p>
                                                            <p class="cart-nadeem">@Model[j].CreatedBy</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!--<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Popular Blogs </h3>
            </div>-->
            @*<div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>*@
            <!--<div class="col-12">
                <div id="carouselExampleIndicators3" class="carousel slide">
                    <div class="carousel-inner">
                        @for (int i = 0; i < ViewBag.Papular.Count; i += 3)
                        {
                            <div class="carousel-item @(i == 0 ? "active" : "")">
                                <div class="row">
                                    @for (int j = i; j < i + 3 && j < ViewBag.Papular.Count; j++)
                                    {
                                        <div class="col-md-4  col-sm-12">
                                            <a href="~/blog/@ViewBag.Papular[j].Slug">
                                                <img src="~/raidetimefiles/blogfiles/@ViewBag.Papular[j].CoverImage" alt="Blog Image" style="border: 1px solid lightgrey;">
                                                <div class="blog-content">
                                                    <div class="time-hour">
                                                        <p>@ViewBag.Papular[j].Blog_readTime Min Read</p>
                                                        <p>@(ViewBag.Papular[j].PublishingDate?.ToString("yyyy-MMM-dd"))</p>
                                                    </div>
                                                    <p class="cart-hd">@ViewBag.Papular[j].Title</p>
                                                    <p class="cutoff-text">@ViewBag.Papular[j].MetaDescription</p>
                                                    <div class="cart-main">
                                                        <div class="sm-img">
                                                            <img src="~/raidetimefiles/ProfileImages/@ViewBag.Papular[j].Profileimage" class="rounded-circle user-photo" alt="Profile pic" style="width: 50px; height: 50px; max-width: 50px !important;">
                                                        </div>
                                                        <div class="ms-3">
                                                            <p class="cart-wriiten">Written By</p>
                                                            <p class="cart-nadeem">@ViewBag.Papular[j].CreatedBy</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>-->

<!-- Subscribe Footer Section -->
<div class="subscribe-footer mt-5 mb-5">
    <h3>Ready to Get Our New Stuff?</h3>
    <form id="subscribe-newsletter">
        <div class="input-group subscribe-input" style="width:100%">

            <input type="email" class="form-control" name="Email"placeholder="Enter Your Email" required>
            <input type="hidden" name="captchakey" id="captchakey" class="captchakey" />

            <button type="submit" class="btn btn-light">Subscribe</button>

        </div>
    </form>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.expand-btn');

        buttons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default action of the button

                const content = this.previousElementSibling;
                content.classList.toggle('expanded');
                this.classList.toggle('expanded');
                this.textContent = this.classList.contains('expanded') ? 'Collapse' : 'Read more';
            });
        });
    });
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize the carousels manually
        var carousels = document.querySelectorAll('.carousel');
        carousels.forEach(function (carousel) {
            new bootstrap.Carousel(carousel, {
                interval: false
            });
        });

        // Existing code for expand/collapse functionality
        const buttons = document.querySelectorAll('.expand-btn');
        buttons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default action of the button
                const content = this.previousElementSibling;
                content.classList.toggle('expanded');
                this.classList.toggle('expanded');
                this.textContent = this.classList.contains('expanded') ? 'Collapse' : 'Read more';
            });
        });
    });
</script>


<script type='text/javascript'></script>



