
@{
    ViewBag.Title = "GetWebsiteAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


 
<link rel="stylesheet" href="~/Content/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Website Action<small>List of Actions</small> </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="tbldetails">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Organization</th>
                                <th>Country</th>
                                <th>No. of Employees</th>
                                <th>Page Name</th>
                                <th>Submitted Date</th>
                                <th>Apply For</th>
                             
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNo</td>
                                    <td>@item.OrganizationName</td>
                                    <td>@item.Country</td>
                                    <td>@item.NoofEmployees</td>
                                    <td>@item.PageName</td>
                                    <td>@(item.EntryDate?.ToString("MMMM d, yyyy"))</td>
                                    <td>@item.ApplyFor</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Content/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tbldetails").dataTable();
        });
    </script>
    <script>
        var msg = '@TempData["msg"]';
        if (msg != null) {
            if (msg == "published") {

                $(document).ready(function () {
                    funtionalert('Success!', 'Blog published Successfully', 'success');

                });


            }
        }
    </script>
}



