
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
<link rel="stylesheet" href="~/Content/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
<style>
    .dataTables_wrapper .dataTables_filter input, .dataTables_wrapper .dataTables_length select {
        height: 30px !important;
    }
</style>

<div class="row" style="margin-top: 28px;">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            @*<div class="header">
                    <h2>User Managment<small>List of All User</small> </h2>
                </div>*@
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">User Managment</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="tbldetails">
                                <thead>
                                    <tr>
                                        <th>Profile Image</th>
                                        <th>Name</th>
                                        <th>Email</th>

                                        <th>Role</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var user in Model)
                                        {
                                            <tr>
                                                <td><img src="@ViewBag.baseapiurl/EliteFiles/ProfileImages/@user.Profileimage" alt="Profile Image" class="rounded-circle width35" style="width:70px" /></td>

                                                <td>@user.Name</td>
                                                <td>@user.Email</td>

                                                <td>@user.Role</td>
                                                <td>
                                                    <a href="~/UserManagement/UpdateUser?id=@user.id"><i class="fa fa-edit"></i></a>
                                                    <a href="~/UserManagement/profile?id=@user.id"><i class="fa fa-eye"></i></a>
                                                    <a href="javascript:void(0)" onclick="ftnDelete('@user.id')"><i class="fa fa-trash"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Content/assets/bundles/datatablescripts.bundle.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#tbldetails").dataTable();
        });
    </script>
    <script>
        var msg = '@TempData["msg"]';
        if (msg != null) {
            if (msg == "published") {

                $(document).ready(function () {
                    funtionalert('Success!', 'Blog published Successfully', 'success');

                });


            }
            if (msg == "Updated") {
                $(document).ready(function () {
                    funtionalert('Success!', 'User Updated Successfully', 'success');

                });
            }
            if (msg == "Added") {
                $(document).ready(function () {
                    funtionalert('Success!', 'User Added Successfully', 'success');

                });
            }
            if (msg == "Deleted") {
                $(document).ready(function () {
                    funtionalert('Success!', 'User Deleted Successfully', 'error');

                });
            }
            if (msg == "UserNameExist") {
                $(document).ready(function () {
                    funtionalert('Success!', 'UserName Already Exist', 'error');

                });
            }
        }
    </script>
    <script>

            function ftnDelete(id) {
                swal({
                    title: "Are you sure?",
                    text: "to Delete it",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        window.location = "@Url.Action("DeleteUserAsync", "UserManagement")?id=" + id;
                    } else {
                        swal.close();  // Close the popup when "No" is clicked
                    }
                });
        }

        function publish(id, type) {
                swal({
                    title: "Are you sure?",
                    text: "to "+type+" it",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        window.location = "@Url.Action("Publishblog", "BlogList")?id=" + id + "&&type=" + type;
                    } else {
                        swal.close();  // Close the popup when "No" is clicked
                    }
                });
            }

    </script>
}



